@model IEnumerable<TrangWebTuVanSinhVien.Models.QUESTIONQUEUE>

@{
    ViewBag.Title = "Answer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@using (Html.BeginForm())
{
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Câu Hỏi</th>
                <th>Nhập câu trả lời</th>
                <th>Trả lời</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr class="@Url.Content("trAnswer trAnswer"+item.QuestionID)" data-id="@item.QuestionID">
                    <td name="id">@item.QuestionID</td>
                    <td>@item.Question</td>
                    <td><input type="text"  class ="@Url.Content("txtAnswer txtAnswer"+item.QuestionID)"/></td>
                    <td>
                        @Html.ActionLink("Trả lời", "Reply",new { id = item.QuestionID} ,new { @class = "Reply" })
                    </td>
                    <td>
                        Xóa
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
}
<script>
    
        
    $('.Reply').click(function () {
        console.log("Đã thực hiện được");
            var noidung;
            var id = parseInt($(this).parent().parent().attr('data-id'));
            console.log(id);

            $('.txtAnswer' + id).each(function () {
                noidung = $(this).val();
                $(this).attr('value', noidung);
                $(this).attr('name', 'answer');
                console.log(noidung);
                console.log('txtAnswer' + id);
            })
            
            
            console.log(id);
            console.log(noidung);
            $.ajax({
                type: 'POST',
                data: {
                    id: id,
                    answer: noidung
                },
                url: '@Url.Action("Reply","Answer")',
                success: function (ketqua) {

                }
            })
    })


</script>


