@model IEnumerable<TrangWebTuVanSinhVien.Models.QUESTIONQUEUE>

@{
    ViewBag.Title = "Answer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@using (Html.BeginForm())
{
    <div class="row bg-light no-gutters" style="min-height: calc(100vh - 56px)">
        <div class="col">
            <div class="container py-0" role="alert">
                <div class="row py-0 justify-content-center">
                    <h2 class="my-4 text-center align-content-center">TRẢ LỜI CÂU HỎI</h2>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-nowrap">ID</th>
                                        <th class="text-nowrap">Câu Hỏi</th>
                                        <th class="text-nowrap">Nhập câu trả lời</th>
                                        <th class="text-nowrap">Trả lời</th>
                                        <th class="text-nowrap">Xóa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr class="@Url.Content("trAnswer trAnswer"+item.QuestionID)" data-id="@item.QuestionID">
                                            <td name="id" class="text-nowrap">@item.QuestionID</td>
                                            <td class="text-nowrap">@item.Question</td>
                                            <td class="text-nowrap"><input type="text" class="@Url.Content("txtAnswer txtAnswer"+item.QuestionID)" /></td>
                                            <td class="text-nowrap">
                                                @Html.ActionLink("Trả lời", "Reply", new { id = item.QuestionID }, new { @class = "Reply" })
                                            </td>
                                            <td class="text-nowrap">Xóa</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    
        
    $('.Reply').click(function () {
        console.log("Đã thực hiện được");
            var noidung;
            var id = parseInt($(this).parent().parent().attr('data-id'));
            console.log(id);

            $('.txtAnswer' + id).each(function () {
                noidung = $(this).val();
                $(this).attr('value', noidung);
                $(this).attr('name', 'answer');
                console.log(noidung);
                console.log('txtAnswer' + id);
            })
            
            
            console.log(id);
            console.log(noidung);
            $.ajax({
                type: 'POST',
                data: {
                    id: id,
                    answer: noidung
                },
                url: '@Url.Action("Reply","Answer")',
                success: function (ketqua) {

                }
            })
    })


</script>


