<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/8b25d55c1b.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="w-100 bg-danger py-3">
        
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <a class="text-decoration-none text-white font-weight-bold" href="/">
                        <h5 class="m-0">
                            Trang chủ
                        </h5>
                    </a>
                </div>
                <div class="col-auto ml-auto">
                    <a href="/Account/DangKy" class="text-white">Đăng ký</a>
                </div>
                <div class="col-auto">
                    <a href="/DangNhap/DangNhap" class="text-white">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
