@model IEnumerable<TrangWebTuVanSinhVien.Models.QUESTIONANDANSWER>

@{
    ViewBag.Title = "Ask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<h2>Ask</h2>

<div>
    <div id="Ask">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div id="field" class="form-group">
                <label for="dropdownlist" class="control-label col-md-2">Lĩnh vực</label>
                <div class="col-md-10">
                    <select id="dropdownlist" class="form-control" name="dropdownlist">
                        @foreach (var lst in ViewBag.listfield)
                        {
                            <option>@lst</option>;
                        }
                    </select>
                </div>
            </div>

            <div id="question" class="form-group">
                <label for="askcontent" class="control-label col-md-2">Câu hỏi</label>
                <div class="col-md-10"><input type="text" id="askcontent" class="form-control" name="askcontent" /></div>
            </div>

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đặt câu hỏi" class="btn btn-default" />
            </div>
        }

    </div>
</div>

<div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Câu hỏi
                </th>
                <th>
                    Câu trả lời
                </th>
                <th>
                    Ngày trả lời
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Answer)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfAnswer)
                    </td>


                </tr>

            }
        </tbody>

    </table>
</div>
