@model TrangWebTuVanSinhVien.Models.USER

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row bg-success no-gutters align-items-center" style="min-height: calc(100vh - 56px)">
        <div class="col">
            <div class="container py-5" role="alert">
                <div class="row py-5">
                    <div class="col-auto d-none d-xl-flex flex-column align-items-center justify-content-center">
                        <i class="far fa-question-circle" style="font-size: 240px"></i>
                        <h2 class="mt-3">
                            Trang web tư vấn sinh viên hàng đầu
                        </h2>
                    </div>
                    <div class="col-11 col-md-9 col-xl-5 py-5 bg-white ml-auto mr-auto mr-xl-0"  style="border-radius:4px">
                        <h2 class="m-0 text-center">ĐĂNG KÝ</h2>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group form-row align-items-center">
                            @Html.LabelFor(model => model.Name, "Họ và tên", htmlAttributes: new { @class = "control-label col-3" })
                            <div class="col">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control"} })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group form-row align-items-center">
                            <label for="birthday" class="control-label col-3">Ngày sinh</label>
                            <div class="col">
                                <input type="date" id="birthday" name="DateOfBirth" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group form-row align-items-center">
                            <label for="confirm" class="control-label col-3">Giới tính</label>
                            <div class="col">
                                <select id="sex" name="sex" class="form-control">
                                    <option>Nam</option>
                                    <option>Nữ</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group form-row align-items-center">
                            @Html.LabelFor(model => model.Address, "Địa chỉ", htmlAttributes: new { @class = "control-label col-3" })
                            <div class="col">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group form-row align-items-center">
                            @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-3" })
                            <div class="col">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group form-row align-items-center">
                            @Html.LabelFor(model => model.Phone, "Số điện thoại", htmlAttributes: new { @class = "control-label col-3" })
                            <div class="col">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group form-row align-items-center">
                            @Html.LabelFor(model => model.PassWord, "Mật khẩu", htmlAttributes: new { @class = "control-label col-3" })
                            <div class="col">
                                @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group form-row align-items-center">
                            <label for="confirm" class="control-label col-3">Nhập lại mật khẩu</label>
                            <div class="col">
                                <input type="text" id="confirm" name="confirm" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group form-row mb-0">
                            <div class="col-12 d-flex">
                                @Html.ActionLink("Trở về", "Index", "Home", null, new { @class = "btn btn-secondary btn-login-page ml-auto" })
                                <button type="submit" class="btn btn-primary btn-login-page ml-2" id="btnDangKy">
                                    Đăng ký
                                </button>
                            </div>
                        </div>

                        @*<div class="form-group form-row align-items-center">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Đăng ký" class="btn btn-default" id="btnDangKy" />
                            </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $('#btnDangKy').click(function () {
        alert("@ViewBag.message");
    })

</script>
